@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Light table -->
<br />
<br />
<br />
<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Listesi Tablosu</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="status">Alan</th>
                <th scope="col" class="sort" data-sort="status">Açıklama</th>
                <th scope="col">Sil</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <style>
                    #acikla{
                        max-width: 500px;
                    }
                </style>
                <tr>
                    <th>
                        @item.ExperienceID
                    </th>

                    <td class="budget">
                        @item.Name
                    </td>

                    <td>
                        @item.Date
                    </td>

                    <td id="acikla">
                       @item.Description
                    </td>

                    <td><a href="/Experience/DeleteExperience/@item.ExperienceID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Experience/EditExperience/@item.ExperienceID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Experience/AddExperience" class="btn btn-primary">Yeni Deneyim Ekle</a>
</div>
