
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-12">Yetenek Ekleme Alanı</h3>
</div>
<form class="form-group" method="post">
    <br />
    <br />
    @Html.Label("Yetenek Başlığı")
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Değer</label>
    <input type="number" name="Value" min="0" max="100" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
    <br />
</form>

